/* =====================================
  Custom Variables
========================================== */
:root {
  --primary: #2655ac; /* blue */
  --secondary: #f77824; /* orange */
  --green: #009983; /* green */
  --red: #f45442; /* red */
  --purple: #af3078; /* purple */
  --dark: #121212;
  --dark1: #1d1d1d;
  --dark2: #212121;
  --dark3: #242424;
  --dark4: #272727;
  --dark5: #2c2c2c;
}

/* =====================================
  General  
========================================== */

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.25px;
  background-color: var(--green);
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2 {
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: 1em;
  line-height: 1;
}
.display-1 {
  font-size: 6.125rem;
  letter-spacing: -1.5px;
}

.display-2 {
  font-size: 3.8125rem;
  letter-spacing: -0.5px;
}

h1,
.h1 {
  font-size: 3.0625rem;
  letter-spacing: 0;
}
h2,
.h2 {
  font-size: 2.1875rem;
  letter-spacing: 0.25px;
}
h3,
.h3 {
  font-size: 1.5rem;
  letter-spacing: 0;
}
h4,
.h4 {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  font-weight: medium;
}
h5,
.h5,
h6,
.h6,
.subtitle-1 {
  font-size: 1rem;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}
.body-1 {
  font-size: 1.0625rem;
  letter-spacing: 0.5px;
}
.body-2 {
  font-size: 0.9375rem;
  letter-spacing: 0.25;
}
button,
.btn {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1.25px;
  font-weight: medium;
}
caption,
.caption {
  font-size: 0.8125px;
  letter-spacing: 0.4rem;
}
sub,
sup,
.overline {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
}

/* Body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Wrapper */
.wrapper {
  background-color: var(--dark);
  display: flex;
  /* align-items: flex-start; */
  max-width: 950px;
}
header {
  background-color: var(--dark5);
  padding: 1rem;
}

/* Main Navigation */
.main-navigation {
  min-width: 200px;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.7em 1.2em;
  display: block;
}

.nav-link > i {
  margin-right: 1em;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

/* main */
main {
  padding: 2rem;
  min-height: 550px;
}

/* Home Section  */
section {
  overflow-y: scroll;
}
.home {
  display: flex;
  align-items: center;
  height: 100%;
}
