/* =====================================
  Custom Variables
========================================== */
:root {
  --primary: #2655ac; /* blue */
  --secondary: #f77824; /* orange */
  --green: #009983; /* green */
  --red: #f45442; /* red */
  --purple: #af3078; /* purple */
  --dark: #121212;
  --dark1: #1d1d1d;
  --dark2: #212121;
  --dark3: #242424;
  --dark4: #272727;
  --dark5: #2c2c2c;
}

/* =====================================
  General  
========================================== */

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.25px;
  background-color: var(--green);
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2 {
  font-family: "Raleway", sans-serif;
  margin-top: 0;
  margin-bottom: 0.7em;
  line-height: 1;
}
.display-1 {
  font-size: 6.125rem;
  letter-spacing: -1.5px;
}

.display-2 {
  font-size: 3.8125rem;
  letter-spacing: -0.5px;
}

h1,
.h1 {
  font-size: 3.0625rem;
  letter-spacing: 0;
}
h2,
.h2 {
  font-size: 2.1875rem;
  letter-spacing: 0.25px;
}
h3,
.h3 {
  font-size: 1.5rem;
  letter-spacing: 0;
}
h4,
.h4 {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  font-weight: medium;
}
h5,
.h5,
h6,
.h6,
.subtitle-1 {
  font-size: 1rem;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}
.body-1 {
  font-size: 1.0625rem;
  letter-spacing: 0.5px;
}
.body-2 {
  font-size: 0.9375rem;
  letter-spacing: 0.25;
}
button,
.btn {
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1.25px;
  font-weight: medium;
}
caption,
.caption {
  font-size: 0.8125px;
  letter-spacing: 0.4rem;
}
sub,
sup,
.overline {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
}

/* ============= Utilities ============= */
.text-primary {
  color: var(--secondary);
}

/* ================ Start Custom styles Body =========================== */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* ========= Wrapper ========= */
.wrapper {
  background-color: var(--dark);
  display: flex;
  max-width: 950px;
  /* align-items: flex-start; */
}

header {
  background-color: var(--dark5);
  padding: 1rem;
}

/* ======== Main Navigation ============ */
.main-navigation {
  min-width: 200px;
}
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.7em 1.2em;
  display: block;
}

.nav-link:hover {
  cursor: pointer;
}
.nav-link > i {
  margin-right: 1em;
  display: inline-block;
  font-size: 1.5rem;
  color: white;
}

/* =============== main ========== */
main {
  padding: 2rem;
  min-height: 550px;
  width: 750px; /* main 750 + nav 200 = 950 total */
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ========== Section ===============  */
.wrapper main > section {
  padding: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s ease-in-out;
}

/* ====== Navigation Controls ========== */

/* Generally hide input radio element */
input[type="radio"] {
  display: none;
}

/* When Click Nav button */
input[id="to-home"]:checked ~ section.home,
input[id="to-about"]:checked ~ section.about,
input[id="to-education"]:checked ~ section.education-experience,
input[id="to-portfolio"]:checked ~ section.portfolio-section,
input[id="to-contact"]:checked ~ section.contact-section {
  left: 0;
}

/* Push away other sections */
input[id="to-home"]:checked ~ section:not(section.home),
input[id="to-about"]:checked ~ section:not(section.about),
input[id="to-education"]:checked ~ section:not(section.education-experience),
input[id="to-portfolio"]:checked ~ section:not(section.portfolio-section),
input[id="to-contact"]:checked ~ section:not(section.contact-section) {
  left: 100%;
}

/* ==================== Home Section ================= */
.home {
  display: flex;
  align-items: center;
  height: 100%;
  left: 0;
}

/* ================== About Section ================ */
.basic-info {
  display: flex;
}
.about-me {
  flex-basis: 55%;
  flex-grow: 1;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
.location {
  flex-basis: 35%;
  padding-left: 1rem;
  align-self: center;
}

/* Basic Services */
.basic-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  gap: 1rem;
}

/* Clients */
.clients {
  display: flex;
  overflow-x: auto;
  margin: 2rem 0;
  justify-content: center;
  background-color: var(--dark5);
}
.client {
  background-color: var(--dark5);
  padding: 0.5rem;
}
.client > img {
  width: 100%;
  height: 3rem;
}
.client:not(:last-child) {
  margin-right: 1rem;
}

/* Fun Facts */
.fun-facts {
  display: flex;
}

.fact {
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--dark5);
  text-align: center;
}
.fact:not(:last-child) {
  margin-right: 1rem;
}
.fact > h5 {
  margin-bottom: 0;
}

/* ================== Education and Experience =================== */

/* Education and Experience */
.education-experience {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
}
.education-experience > .section-title {
  grid-area: auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* Courses */
.edu-exp-block > .title {
  margin-bottom: 1.5em;
}
.courses {
  margin-bottom: 3rem;
}
.course {
  display: grid;
  grid-template-columns: 1fr auto 3fr;
}
/* Course Year and institution */
.course-year {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  text-align: right;
  min-width: 120px;
}
/* Vertical bar */
.course .middle-bar {
  display: flex;
}
.course .middle-bar > span {
  background-color: var(--dark5);
  width: 2px;
}
/* course details */
.course-detail {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

/* course-title */
.course-title {
  position: relative;
}
/* Small circle on vertical bar */
.course-title::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 50%;
  right: calc(100% + 1.5rem - 3px);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 5;
  border: 1px solid var(--secondary);
}

/* ====== skills block ====== */
.skill-group {
  margin-bottom: 2rem;
}
.skill:not(:last-child) {
  margin-bottom: 0.6rem;
}
.skill-name {
  display: flex;
  justify-content: space-between;
}
.skill-indicator {
  height: 0.8rem;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  position: relative;
}
.skill-indicator::after {
  position: absolute;
  content: "";
  width: 85%;
  height: 30%;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  background-color: var(--secondary);
}

.skill:nth-child(2) .skill-indicator::after {
  width: 65%;
}
.skill:nth-child(3) .skill-indicator::after {
  width: 75%;
}
.skill:nth-child(4) .skill-indicator::after {
  width: 90%;
}

/* Tools and technologies */
.tools-technologies {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin: 0.5rem 0;
}

.tools-technologies > h6 {
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--secondary);
}
.tools-technologies > h6:not(:last-child) {
  margin-right: 0.5rem;
}

/* ==================== Portfolio Section ========== */

/* Portfolio navigation */
.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

/* Portfolio Nav Item */
.portfolio-nav > label {
  padding: 0.5rem 0.8rem;
  display: inline-block;
}
.portfolio-nav > label:focus,
.portfolio-nav > label:focus {
  cursor: pointer;
}
.portfolio-nav > label:not(:last-child) {
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
}

/* Portfolios */
.portfolios {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 1rem;
  gap: 1.5rem;
}

/* Portfolio Item image */
.portfolio > img {
  max-width: 100%;
  min-height: 200px;
}

/* Portfolio Item title */
.portfolio > h5 {
  margin-top: 0.5rem;
}

/* =============== Contact Section ============== */
.contact-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  gap: 2rem;
}
.contact-section > .section-title {
  grid-column: span 3;
}

/* Contact map */
.contact-map {
  min-height: 120px;
}

.contact-map > img {
  width: 100%;
  height: auto;
}
.contact-form-title {
  margin-bottom: 1.5em;
}
/* Contact from wrapper */
.form-input-wrapper {
  display: flex;
}
.form-input-wrapper > div {
  flex-grow: 1;
}
.form-input-wrapper > div:last-child > .form-group {
  height: 100%;
  margin-left: 1.5rem;
}

/* form group */
.form-group {
  position: relative;
}
.form-group:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form-group > input,
.form-group > textarea {
  background-color: transparent;
  color: var(--secondary);
  border: 2px solid var(--dark5);
  padding: 0.8rem 0.8rem;
  width: 100%;
}

.form-group > textarea {
  height: 100%;
  resize: none;
}

/* Hide place holder */
.form-group > input::placeholder,
.form-group > textarea::placeholder {
  opacity: 0;
}
.form-group > label {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.form-group > label[for="message"] {
  top: 0.5rem;
  transform: translateY(-25%);
}

/* When input is not empty */
.form-group > input:not(:placeholder-shown) + label,
.form-group > input:focus + label,
.form-group > textarea:not(:placeholder-shown) + label,
.form-group > textarea:focus + label {
  top: 0;
  transform: translateY(-50%);
  background-color: var(--dark);
  padding: 0 0.3rem;
  font-size: 0.8125rem;
  letter-spacing: 0.4px;
}

/* Submit Button */
.form-group > button[type="submit"] {
  padding: 0.8rem 1rem;
  border: 2px solid var(--dark5);
  background-color: transparent;
  margin-top: 2rem;
  color: white;
  width: calc(50% - 0.75rem); /* padding: 1.5/2  */
  transition: all 0.3s ease;
}
/* Focus and hover */
.form-group > button[type="submit"]:focus,
.form-group > button[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--secondary);
}
/* Contact Information */
.contact-info-item {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--dark2);
  margin-bottom: 1rem;
}
.contact-info-item:last-child {
  margin-bottom: 0;
}
.contact-info-item > .icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
